*{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 0;
   margin: 0px;
   font-size: 24px;
}
body{
   background-color: #EBE1D1;
}
.img{
   display: flex;
   justify-content: center;
   margin-bottom: 1rem;
}
h1{
   font-size: 40px;
   text-align: center;
   margin-bottom: 5px;
}
h2, h3{
   background-color: darkolivegreen;
   text-align: center;
   margin-top: 10px;
   color: white;
}
ul, ol{
   padding: 10px 5px 10px 2rem
}
p{
   padding: 10px;
}
